.projects__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}
h5 {
  margin-top: 30px;
}

.container{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.projects__img {
  height: 200px;
  gap: 10px;
  display: flex;
}

.projects__item {
  background: blue;
  gap: 10px;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 1.2rem;
  border-radius: 2rem;
  border: 1px solid transparent;
}

.projects__item:hover {
  border-color: black;
  color: black;
  background: transparent;
}

.projects__item-image {
  border-radius: 1.5rem;

  overflow: hidden;
}

.projects__item h3 {
  margin: 1.2rem 0 2rem;
  text-align: center;
}

.projects__item-cta {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 1024px) {
  .projects__container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
}

@media screen and (max-width: 600px) {
  .projects__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
